---
css         : 'sizes'
title       : 'Sizes'
description : 'Size Trumps for sizing concerns in the app.'
tags:
  - layout
---
<div class="main container">
  <h2 class="ui dividing header">Sizing Trumps</h2>
  <p class="ui ignored message">Sizing trumps are all marked !important, so they will override any component based styles.</p>

  <div class="follow example">
    <h4 class="ui header">Explicit Sizes</h4>
    <div class="alpha mv">Alpha</div>
    <div class="beta mv">Beta</div>
    <div class="gamma mv">Gamma</div>
    <div class="delta mv">Delta</div>
    <div class="epsilon mv">Epsilon</div>
    <div class="zeta mv">Zeta</div>
  </div>

  <div class="follow example">
    <h4 class="ui header">Large Sizes</h4>
    <div class="giga mv">Giga</div>
    <div class="mega mv">Mega</div>
    <div class="kilo mv">Kilo</div>
  </div>

  <div class="follow example">
    <h4 class="ui header">Small Sizes</h4>
    <div class="smallprint mv">Smallprint</div>
    <div class="milli mv">Milli</div>
    <div class="micro mv">Micro</div>
  </div>

</div>
