/**
 * As per: csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
 *
 * When we define a heading we also define a corresponding class to go with it.
 * This allows us to apply, say, `class=alpha` to a `h3`; a double-stranded
 * heading hierarchy.
 */
@mixin initialize-font-size(){
  html, body {
    font-size: $base-font-size;
  }

  h1 {
    @include font-size($h1-size);
  }
  h2 {
    @include font-size($h2-size);
  }
  h3 {
    @include font-size($h3-size);
  }
  h4 {
    @include font-size($h4-size);
  }
  h5 {
    @include font-size($h5-size);
  }
  h6 {
    @include font-size($h6-size);
  }
  .alpha {
    @include font-size-important($h1-size);
  }
  .beta{
      @include font-size-important($h2-size);
  }
  .gamma{
      @include font-size-important($h3-size);
  }
  .delta{
      @include font-size-important($h4-size);
  }
  .epsilon{
      @include font-size-important($h5-size);
  }
  .zeta{
      @include font-size-important($h6-size);
  }

  /**
   * A series of classes for setting massive type; for use in heroes, mastheads,
   * promos, etc.
   */
  .giga{
      @include font-size-important($giga-size);
  }
  .mega{
      @include font-size-important($mega-size);
  }
  .kilo{
      @include font-size-important($kilo-size);
  }

  /**
   * A series of classes for setting tiny type; for use in smallprint etc.
   */
  .smallprint,
  .milli{
      @include font-size-important($milli-size);
  }
  .micro{
      @include font-size-important($micro-size);
  }

}

/**
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 */
@mixin font-size-important($font-size, $line-height:true){
    font-size:$font-size !important;
    font-size:($font-size / $base-font-size)*1rem !important;
}

@mixin font-size($font-size, $line-height:true){
    font-size:$font-size;
    font-size:($font-size / $base-font-size)*1rem;
}

@include initialize-font-size;
