@mixin margin-src($namespace:"") {

  .#{$namespace}push           	      { margin:       $base-spacing-unit!important; }
  .#{$namespace}push--top      	      { margin-top:   $base-spacing-unit!important; }
  .#{$namespace}push--right    	      { margin-right: $base-spacing-unit!important; }
  .#{$namespace}push--bottom   	      { margin-bottom:$base-spacing-unit!important; }
  .#{$namespace}push--left     	      { margin-left:  $base-spacing-unit!important; }
  .#{$namespace}push--ends     	      { margin-top:   $base-spacing-unit!important; margin-bottom:$base-spacing-unit!important; }
  .#{$namespace}push--sides    	      { margin-right: $base-spacing-unit!important; margin-left:  $base-spacing-unit!important; }

  .#{$namespace}push-quarter           { margin:       quarter($base-spacing-unit)!important; }
  .#{$namespace}push-quarter--top      { margin-top:   quarter($base-spacing-unit)!important; }
  .#{$namespace}push-quarter--right    { margin-right: quarter($base-spacing-unit)!important; }
  .#{$namespace}push-quarter--bottom   { margin-bottom:quarter($base-spacing-unit)!important; }
  .#{$namespace}push-quarter--left     { margin-left:  quarter($base-spacing-unit)!important; }
  .#{$namespace}push-quarter--ends     { margin-top:   quarter($base-spacing-unit)!important; margin-bottom:quarter($base-spacing-unit)!important; }
  .#{$namespace}push-quarter--sides    { margin-right: quarter($base-spacing-unit)!important; margin-left:  quarter($base-spacing-unit)!important; }

  .#{$namespace}push-half              { margin:       halve($base-spacing-unit)!important; }
  .#{$namespace}push-half--top         { margin-top:   halve($base-spacing-unit)!important; }
  .#{$namespace}push-half--right       { margin-right: halve($base-spacing-unit)!important; }
  .#{$namespace}push-half--bottom      { margin-bottom:halve($base-spacing-unit)!important; }
  .#{$namespace}push-half--left        { margin-left:  halve($base-spacing-unit)!important; }
  .#{$namespace}push-half--ends        { margin-top:   halve($base-spacing-unit)!important; margin-bottom:halve($base-spacing-unit)!important; }
  .#{$namespace}push-half--sides       { margin-right: halve($base-spacing-unit)!important; margin-left:  halve($base-spacing-unit)!important; }

  .#{$namespace}push-half              { margin:       double($base-spacing-unit)!important; }
  .#{$namespace}push-half--top         { margin-top:   double($base-spacing-unit)!important; }
  .#{$namespace}push-half--right       { margin-right: double($base-spacing-unit)!important; }
  .#{$namespace}push-half--bottom      { margin-bottom:double($base-spacing-unit)!important; }
  .#{$namespace}push-half--left        { margin-left:  double($base-spacing-unit)!important; }
  .#{$namespace}push-half--ends        { margin-top:   double($base-spacing-unit)!important; margin-bottom:double($base-spacing-unit)!important; }
  .#{$namespace}push-half--sides       { margin-right: double($base-spacing-unit)!important; margin-left:  double($base-spacing-unit)!important; }

  .#{$namespace}push-grid      	      { margin:       $base-grid-gutter!important; }
  .#{$namespace}push-grid--top         { margin-top:   $base-grid-gutter!important; }
  .#{$namespace}push-grid--right       { margin-right: $base-grid-gutter!important; }
  .#{$namespace}push-grid--bottom      { margin-bottom:$base-grid-gutter!important; }
  .#{$namespace}push-grid--left        { margin-left:  $base-grid-gutter!important; }
  .#{$namespace}push-grid--ends        { margin-top:   $base-grid-gutter!important; margin-bottom:$base-grid-gutter!important; }
  .#{$namespace}push-grid--sides       { margin-right: $base-grid-gutter!important; margin-left:  $base-grid-gutter!important; }

  .#{$namespace}flush          	      { margin:       0!important; }
  .#{$namespace}flush--top     	      { margin-top:   0!important; }
  .#{$namespace}flush--right   	      { margin-right: 0!important; }
  .#{$namespace}flush--bottom  	      { margin-bottom:0!important; }
  .#{$namespace}flush--left   	      { margin-left:  0!important; }
  .#{$namespace}flush--ends    	      { margin-top:   0!important; margin-bottom:0!important; }
  .#{$namespace}flush--sides   	      { margin-right: 0!important; margin-left:  0!important; }

  .full-bleed{
    margin-right:-$base-spacing-unit!important;
    margin-left: -$base-spacing-unit!important;

    .islet &{
        margin-right:-($half-spacing-unit)!important;
        margin-left: -($half-spacing-unit)!important;
    }
  }
}

@each $alias, $condition in $breakpoints {

  @if use-mq($alias, layout) {

      @include media-query(#{$alias}) {
        @include margin-src('#{$alias}--');
      }

    }
}
