/*******************************
    Debug
*******************************/
/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */
$debug-mode:        false!default;

/*******************************
    Elements
*******************************/
$button-include:   false!default;
$card-include:         false!default;
$checkbox-include:     false!default;
$divider-include:      false!default;
$icons-include:        false!default;
$image-include:        false!default;
$input-include:        false!default;
$label-include:        false!default;
$loader-include:       false!default;
$media-include:        false!default;
$progress-include:     false!default;
$reveal-include:       false!default;
$segment-include:      false!default;
$step-include:         false!default;

/*******************************
    Collections
*******************************/
$accordion-include:    false!default;
$card-include:         false!default;
$grid-include:         false!default;
$tab-include:        false!default;
$table-include:        false!default;

/*******************************
    Containers
*******************************/
$dropdown-include:     false!default;
$form-include:         false!default;
$menu-include:        false!default;
$message-include:      false!default;
$modal-include:        false!default;
$nag-include:          false!default;
$popup-include:        false!default;
$search-include:       false!default;
$sidebar-include:      false!default;


/*******************************
    Layout
*******************************/
$display-include:   false!default;
$flexbox-include:   false!default;
